section {
    margin-top: 10vh;
    min-height: 90vh;
    width: 100%;
    padding: 2rem 5rem;
}

@media (max-width: 768px) {
    section {
        margin-top: 50px;
        min-height: calc(100vh - 50px);
        padding: 1.25rem;
    }
}
